body {
  background-color: black;
}

.container {
  overflow: hidden; /* Clear the float */
  display: flex; /* Use flexbox for container */
  padding: 4% 8%;
}

.image {
  width: 50%;
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 20px;
  border: 2px solid red;
  display: flex; /* Use flexbox for image container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.image img {
  width: 100%; /* Image width takes up 70% of its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure proper centering */
  margin: 0 auto; /* Center the image within its container */
}

.description {
  width: 50%;
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 20px;
  border: 2px solid red;
  text-align: center;
  font-size: 4vh;
  color: white;

  /* Removed display: flex; */
}
