/* Forget Password Page Styles */
/* Resetting browser default styles */
body {
  margin: 0;
  font-family: "source-sans-pro", sans-serif;
  background-image: url("../assets/img/login_wallpaper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  color: white;
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set maximum width for the container */
  padding: 0 20px; /* Adjust horizontal padding */
  box-sizing: border-box; /* Include padding in width */
  margin-right: 500px;
}

img {
  width: 20%; /* Adjust image width */
  height: auto;
  margin-bottom: 5%; /* Adjust margin as needed */
}

h1 {
  font-size: 2em;
  margin-bottom: 3%;
}

p {
  font-size: 1.2em;
  margin-bottom: 5%;
}

.email-input {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

#email {
  color: white;
  font-size: 1em;
  width: 90%; /* Adjust width as needed */
  height: 30px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid #999;
  transition: border-bottom-color 0.3s ease;
  border-radius: 2px;
  margin-bottom: 5%;
}

#email:focus {
  border-bottom-color: red;
}

#login-button {
  color: white;
  font-size: 1em;
  background: linear-gradient(135deg, rgb(255, 0, 0), rgba(18, 18, 18, 1));
  background-size: 200%;
  border: none;
  border-radius: 10px;
  padding: 2% 5%; /* Adjust padding */
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

#login-button:hover {
  background-position: right center;
}
