/* forgetpassword2.css */

/* Body and Background */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.bg {
  background-image: url("../assets/img/login_wallpaper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container Styles */
.container {
  text-align: center;
  max-width: 400px; /* Adjust maximum width */
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for a little depth */
}

/* Image Style */
img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

/* Title Style */
#emailsent {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Description Style */
#regardingstat {
  margin-bottom: 20px;
}

/* Code Input Style */
#code {
  width: calc(100% - 20px); /* Adjust width */
  height: 40px; /* Adjust height */
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#code:focus {
  border-color: red; /* Adjust focus color */
}

/* Submit Button Style */
#reset-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(135, 6, 6); /* Button background color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reset-button:hover {
  background-color: #0056b3; /* Button hover color */
}
