body, html {
    height: 100%;
    margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .bg {

    background-image: url('../assets/img/login_bg.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
  .form{
    background-color:whitesmoke;
    color: black;
    font-family:sans-serif;
    font-size: 24px;
    text-align: center;
    width: 400px;
    border-radius: 7px;

    
   

  }
  #f{
    font-size: 13px;
    margin: 10px 10px;
    
  }
  #login-button{
    font-size: 13px;
    background-color: #4E73DF;
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    text-decoration: none;
    cursor: pointer;    
    color: white;
    transition: background-color 0.3s ease;

  }
  #login-button:hover{
    background-color: #e74c3c;
  }