main {
  background-image: url("../assets/img/background_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20%; /* Remove default margin to ensure the nav bar is flush with the edges */
}
body {
  background-color: black;
}
.middle-spot {
  color: white;
  margin-top: 8%;
  margin-left: 17%;
  text-align: center;
  font-size: 250%;
  text-align: left;
  text-transform: uppercase;
  transform: color 0.3s;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: expandWidth 3s ease forwards;
}
@keyframes expandWidth {
  from {
    width: 0;
  }
  to {
    width: 50%; /* Adjust the width as needed */
  }
}

.middle-spot .middle-button {
  margin-top: 20px;
  height: 70px;
  width: 180px;
  background: linear-gradient(to bottom, transparent 50%, red 50%);
  background-size: 100% 200%;
  color: white;
  border: white 2px solid;
  border-radius: 8px;
  transition: background-position 0.2s;
  font-size: 50%;
  text-transform: uppercase;
  font-weight: 600;
}

.middle-spot .middle-button:hover {
  background-position: 0 -100%;
}

.middle-text1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  -webkit-text-stroke: 1px #f6f7f8;
  -webkit-text-fill-color: transparent;
  font-size: 9vh;
}
.middle-text2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sign-in-button {
  height: 55px;
  width: 180px;
  text-transform: uppercase;
  background: linear-gradient(to right, red 50%, darkred 50%);
  background-size: 200% 100%;
  color: white;
  border: 2px solid white;
  font-size: 18px;
  transition: background-position 0.2s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.sign-in-button:hover {
  background-position: -100% 0;
}

.navigation-bar {
  display: flex;
  align-items: center;
  height: 100px; /* Set a fixed height for the navigation bar */
  background-color: transparent;
  padding: 0% 5%; /* Add padding to the sides */
  position: sticky;
}

nav {
  position: sticky;
  top: 0;
}

.navigation-bar-logo {
  display: flex;
  align-items: center;
}

.navigation-bar img {
  width: 100%;
  max-height: 50px; /* Adjust as needed */
}

.navigation-bar-options {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow options to take remaining space */
}

.navigation-bar li {
  text-transform: capitalize;
  width: 50px;
  transition: font-size, font-weight;
  margin-right: 80px; /* Adjust as needed */
  color: white;
  font-size: 24px; /* Adjust as needed */
}

.navigation-bar li:hover {
  font-size: 30px; /* Adjust as needed */
  font-weight: bolder;
}

.navigation-bar a {
  text-decoration: none;
  color: white;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  .navigation-bar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navigation-bar-options {
    flex-grow: 0; /* Do not allow options to take remaining space */
  }

  .navigation-bar li {
    margin-right: 0;
    margin-bottom: 10px; /* Adjust as needed */
    text-align: center;
  }

  .navigation-bar li:hover {
    font-size: 14px;
  }
}
/*gded*/
.navigation-bar-scrolled {
  background-color: rgb(55, 4, 4);
  transition: background-color 1s ease;
}

/* Add this to your CSS file */
.training-type {
  background-color: black;
}
.training-type-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.text-overlay {
  position: absolute;
  top: 55%; /* Adjust this value as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
}
.text-overlay h1 {
  display: inline;
  font-size: 2.8vw;
  text-transform: capitalize;
}
.text-overlay p {
  margin-top: 20px;
  display: block;
  text-transform: unset;
  font-size: 1.2vw;
}
.training-button {
  background-color: red;
  height: 55px;
  width: 200px;
  text-align: center;
}
.personal,
.group {
  position: relative;
  text-align: center;
  width: 50%; /* Set both personal and group divs to occupy 50% width */
}

.personal img,
.group img {
  width: 100%;
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the entire space */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .text-overlay {
    top: 80%; /* Adjust this value for smaller screens */
    font-size: 3vw; /* Adjust font size for smaller screens */
  }
}

.training-button {
  margin-top: 20px;
  height: 65px;
  width: 200px;
  background: linear-gradient(to bottom, transparent 50%, red 50%);
  background-size: 100% 200%;
  color: white;
  border: white 2px solid;
  transition: background-position 0.2s;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
.training-button:hover {
  background-position: 0 -100%;
}

/* Section 2 */
#wif {
  margin-top: 5%;
  display: block;
}

#wif-text-section {
  text-align: center;
  font-size: 7vh;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #f6f7f8;
  -webkit-text-fill-color: transparent;
}
#wif-pics-section {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.wif-pic-container {
  display: inline-block;
  margin: 50px 20px;
  width: calc(25% - 40px);
}
.wif-pic img {
  width: 100%;
  height: auto;
}
.wif-cap {
  color: white;
  margin-top: 4%;
  text-align: center;
}
.wif-cap h5 {
  font-size: 3.5vh;
  text-transform: uppercase;
  margin-top: 2%;
}
.wif-cap p {
  font-size: 2vh;
  text-transform: capitalize;
  margin-top: 2%;
}

/* Section 3 */
#pricing-section {
  margin-top: 7%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#pricing-label {
  font-size: 5vh;
  text-align: center;
  display: block;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #f6f7f8;
  -webkit-text-fill-color: transparent;
}

.pricing-container {
  display: flex; /* Use flexbox to align pricings horizontally */
  justify-content: space-around; /* Adjust spacing between pricings */
}

.pricing {
  border: 1pt solid grey;
  display: inline-block;
  margin: 0% 2%;
  vertical-align: middle;
  margin-top: 5%; /* Adjust margin for spacing between pricings */
  text-align: center; /* Align text to the left within each pricing section */

  padding: 20px; /* Add padding to each pricing section */
}

.pricing-icon img {
  background-color: red;
  border-radius: 50%;
  margin-bottom: 15%;
  width: 70px; /* Set width for the icon */
  height: 70px; /* Set height for the icon */
}

.pricing-offer {
  font-size: 2vh;
  text-transform: uppercase;
  margin-bottom: 7%;
}
.pricing-offer h5 {
  color: white;
  font-size: 3vh;
}
.pricing-offer h6 {
  color: red;
  font-size: 2vh;
}
.pricing-offer h6 sub {
  color: white;
}

.pricing-list ul {
  list-style: none; /* Remove default list styles */
  margin-top: 20%;
  color: white; /* Remove default padding */
}

.pricing-list ul li {
  font-size: 2vh;
  position: relative; /* Set position for the custom icon */
  padding-left: 30px; /* Adjust space for the icon */
  padding-bottom: 6%;
}

.pricing-list ul .yes:before {
  content: ""; /* Add content for the custom icon */
  background-image: url("../assets/icons/check.png"); /* Replace 'path/to/your-icon.png' with your icon image path */
  background-size: contain; /* Adjust icon size */
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust icon width */
  height: 20px; /* Adjust icon height */
}

/* Footer CSS */

@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  clear: both;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  padding: 70px 20px;
  background-color: black;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 1170px;
  background-color: inherit;
  margin: auto;
}
.footer ul {
  list-style: none;
}

.body {
  display: flex;
  flex-wrap: wrap;
}
.footer-column {
  width: 25%;
  padding: 0 15px;
}
.footer-column h4 {
  font-size: 150%;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(255, 30, 0);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-column ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-column ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: gray;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-column ul li a:hover {
  color: gray;
  padding-left: 10px;
}

.footer-column .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-column .social-links a:hover {
  color: white;
  background-color: rgb(215, 59, 59);
}

@media (max-width: 767px) {
  .footer-column {
    width: 50%;
  }
}
@media (max-width: 574px) {
  .footer-column {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #970505;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db0909;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc0b0b;
}
