html{
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    top: -2%;
    height: 102%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
    top: -3%;
    margin: 0;
    background-image: url(../assets/img/SignUp_Background.jpg);
    background-size: 66.5% 100%;
    background-repeat: no-repeat;
}

#divForm{
    width: 100%;
    height: 100%;
    margin-top: 4%;
    position: absolute;
    text-align: center;
    justify-content: center;
}

form{
    position: absolute;
    top: 19%;
    left: 10%;
    text-align: center;
    justify-items: center;
}

#h1Up{
    padding: 12px;
    margin: -11px;
    color: white;
}

.inputFirstRow{
    margin: 2% 2%;
    padding: 1%;
    height: 48px;
    width: 280px;
    border-radius: 20px;
    font-size: 21px;
    border: none;
}

.passDiv{
    display: inline;
}

.inputPass{
    position: relative;
    right: -5%;
    padding: 1%;
    height: 48px;
    width: 279px;
    border-radius: 20px;
    font-size: 21px;
    border: none;
}

#eye{
    cursor: pointer;
    width: 33px;
    position: relative;
    top: 8px;
    right: 14px;
}

.ConfrimPassDiv{
    display: inline;
}

.inputConfirmPass{
    position: relative;
    right: -2%;
    margin: 2% 2%;
    padding: 1%;
    height: 48px;
    width: 279px;
    border-radius: 20px;
    font-size: 21px;
    border: none;
}

#confirmEye{
    cursor: pointer;
    width: 33px;
    position: relative;
    top: 8px;
    right: 65px;
}

#submit{
    background-color: rgb(184 10 12);
    margin-top: 2.5%;
    border-radius: 17px;
    transition: 0.5s;
    width: 61%;
    height: 51px;
    border: unset;
    font-weight: 700;
    font-size: 24pt;
    color: black;
}

#submit:hover{
    background-color: #500101;
    color: white;
}

#divSignIn{
    width: 34%;
    height: 100%;
    background-image: linear-gradient(315deg, rgb(104, 1, 2) 12%, rgba(0,0,0,1) 43%);
    text-align: center;
    border-left: solid 2px rgb(74 0 1);
    position: absolute;
    left: 66.5%;
    top: 5%;
}

#h1In{
    color: white;
    font-weight: bold;
    font-size: 200%;
    padding-top: 46%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.btn {
    font-size: 16pt;
    padding: 3%;
    text-align: center;
    transition: 0.5s;
    background-size: 200%;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    background-image: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgba(18,18,18,1) 100%);

}
    
.btn:hover {
    background-position: right center;
}