html{
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: -8px;
    margin-right: -13px;
    font-family: 'Oswald', sans-serif;
}

body{
    width: 99%;
    height: 100%;
    display: flex;
}

#divForm{
    width: 68%;
    padding-top: 169px;
    text-align: center;
    border-radius: 10px;
}

#h1Up{
    padding: 12px;
    margin: -11px;
}

.inputFirstRow{
    margin: 12px 22px;
    padding: 5px;
    height: 48px;
    width: 280px;
    border-radius: 20px;
    font-size: 21px;
}

.passdiv{
    display: flex;
    align-items: center;
}

.inputPass{
    margin-top: 12px;
    margin-left: 204px;
    padding: 5px;
    height: 48px;
    width: 280px;
    border-radius: 20px;
    font-size: 21px;
}

.inputconfirmPass{
    margin-top: 12px;
    margin-left: 50px;
    padding: 5px;
    height: 48px;
    width: 280px;
    border-radius: 20px;
    font-size: 21px;
}

#eye{
    cursor: pointer;
    width: 33px;
    margin: -121px 446px;
    display: flex;
}

#confirmEye{
    cursor: pointer;
    width: 33px;
    margin: 95px 793px;
    display: flex;
}

#submit{
    background-color: rgb(163, 159, 158);
    margin-top: 27px;
    border-radius: 17px;
    width: 636px;
    height: 51px;
    border: unset;
    font-weight: 700;
    font-size: 24pt;
    color: black;
}

#submit:hover{
    background-color: #183D3D;
    color: #ebe9e9;
}

#divsignin{
    width: 488px;
    height: 747px;
    background: linear-gradient(315deg, rgba(189,0,0,1) 9%, rgba(0,0,0,1) 43%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#h1In{
    color: white;
    font-weight: bold;
    font-size: 50px;
    padding-top: 227px;
}

.btn {
    margin: 10px;
    padding: 18px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}
    
.btn:hover {
    background-position: right center;
}

.btn-1 {
    background-image: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgba(18,18,18,1) 100%);
}